@model Supermarket.ModelViews.ChangePasswordViewModel


<form asp-controller="Accounts" asp-action="ChangePassword" method="post" class="myaccount-form">
    <div>
        <div class="form-group required">
            <label>Current Password</label>
            <input asp-for="PasswordNow" type="password">
        </div>
        <div class="form-group required">
            <label>New Password</label>
            <input asp-for="Password" type="password">
        </div>
        <div class="form-group required">
            <label>Re-enter new password</label>
            <input asp-for="ConfirmPassword" type="password">
        </div>
        <div class="form-group required">
            <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                <span>Save Changes</span>
            </button>
        </div>
    </div>
</form>


